<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}

    <hr>


  <div class="navigation">
      <!-- creates links to the bottom of every page for the homepage and the completed tasks page. -->
      <a href="/">To do tasks</a> <a href="/completed">Completed tasks</a>
  </div>

  </body>
</html>
